.reviewsContainer {
  width: 100%;

  background-color: var(--light-orange);
  height: 700px;
  position: relative;
}

.customShapeDividerTop {
  position: absolute;
  top: 0;
  z-index: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.customShapeDividerTop svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 35px;
  transform: rotateY(180deg);
}

.customShapeDividerTop .shapeFill {
  fill: var(--white-bg);
}

.reviews {
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.reviewsTitle {
  font-family: var(--heading-font);
  color: var(--white-pure);
  font-size: 60px;
  width: 100%;
  text-align: center;
  margin: 0;
}

.subtitle {
  font-family: var(--text-font);
  font-size: 20px;
  color: var(--white-pure);
  color: var(--dark-grey);
  margin: 20px 0;
  font-weight: 400;
  letter-spacing: 1px;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  gap: 50px;

  width: 85%;
  padding: 0 50px;
  box-sizing: border-box;
  position: relative;
  margin: 50px 0;
}

.navigation {
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: space-between;
  top: 50%;
  transform: translateY(-50%);
}

.arrowBtn {
  background-color: transparent;
  outline: none;
  border: none;
}

.arrowBtn:disabled .arrow {
  cursor: not-allowed;
  background-color: rgba(255, 255, 255, 0.2);
}

.arrow {
  width: 40px;
  height: 40px;
  color: rgba(255, 255, 255, 0.5);

  cursor: pointer;
  transition: all 0.3s ease-out;
}

.arrow:hover {
  color: var(--white-pure);
}

@media (min-width: 767px) and (max-width: 1023px) {
  .reviewsContainer {
    width: 100%;

    background-color: var(--light-orange);
    height: 700px;
    position: relative;
  }

  .customShapeDividerTop {
    position: absolute;
    top: 0;
    z-index: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .customShapeDividerTop svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 35px;
    transform: rotateY(180deg);
  }

  .customShapeDividerTop .shapeFill {
    fill: var(--white-bg);
  }

  .reviews {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .reviewsTitle {
    font-family: var(--heading-font);
    color: var(--white-pure);
    font-size: 40px;
    width: 100%;
    text-align: center;
    margin: 0;
  }

  .subtitle {
    font-family: var(--text-font);
    font-size: 16px;
    color: var(--white-pure);
    color: var(--dark-grey);
    width: 95%;
    text-align: center;
    margin: 20px 0;
    font-weight: 400;
    letter-spacing: 1px;
  }

  .cardsContainer {
    display: flex;
    justify-content: center;
    gap: 10px;

    width: 95%;
    padding: 0 50px;
    box-sizing: border-box;
    position: relative;
    margin: 10px 0;
  }

  .navigation {
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }

  .arrowBtn {
    background-color: transparent;
    outline: none;
    border: none;
  }

  .arrowBtn:disabled .arrow {
    cursor: not-allowed;
    background-color: rgba(255, 255, 255, 0.2);
  }

  .arrow {
    width: 40px;
    height: 40px;
    color: rgba(255, 255, 255, 0.5);

    cursor: pointer;
    transition: all 0.3s ease-out;
  }

  .arrow:hover {
    color: var(--white-pure);
  }
}
