
  
  .customerInfosBox {
    /* border: 1px solid blue; */
    min-height: 100%;
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 20px;
    margin-left: auto;
  }

  .intro{
    font-size: 16px;
    font-family: var(--text-font);
  }
  
  .customerTitle {
    font-family: var(--heading-font);
    text-align: center;
  }
  
  .customerInput {
    border-radius: 5px;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: var(--text-font);
    height: 40px;
    padding: 5px;
  }
  
  .customerInput::placeholder {
    color: var(--light-grey);
    font-family: var(--text-font);
  }
  
  .customerInput:focus {
    border: 1px solid var(--dark-grey);
  }

  .buttonContainer{
    width:100%;
   
    position: relative;
    height:fit-content;
  }

  .customerBtn {
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: var(--dark-grey);
    color: var(--white-pure);
    border-radius: 5px;
    letter-spacing: 3px;
    font-family: var(--text-font);
    cursor: pointer;
  }
  
  .customerBtn:disabled {
    filter: brightness(50%);
    cursor: unset;
  }
  
  @media (max-width: 600px) {
  
    .customerInfosBox {
      box-sizing: border-box;
      min-height: 100%;
      display: flex;
      flex-direction: column;
      width: 95%;
      gap: 20px;
  
      margin-left: unset;
    }
  
    .customerTitle {
      font-family: var(--heading-font);
      text-align: center;
      margin-bottom: 0;
      font-size: clamp(20px, 6.45vw + 0.12rem, 25px);
    }
  
    .customerInput {
      border-radius: 5px;
      border: none;
      outline: none;
      box-sizing: border-box;
      font-family: var(--text-font);
      height: clamp(40px, 13.58vw +0.12rem, 60px);
      padding: 5px;
      font-size: clamp(16px, 4.72vw + 0.12rem, 20px);
    }
  
    .customerInput::placeholder {
      color: var(--light-grey);
      font-family: var(--text-font);
    }
  
    .customerInput:focus {
      border: 1px solid var(--dark-grey);
    }

    .buttonContainer{
      width: 100%;
      margin-top: 20px;
      position: relative;
    }


  
    .customerBtn {
      width: 100%;
      padding: clamp(10px, 2.86vw + 0.12rem, 15px)
        clamp(20px, 6.45vw + 0.12rem, 25px);
      box-sizing: border-box;
      border: none;
      outline: none;
      background-color: var(--dark-grey);
      color: var(--white-pure);
      border-radius: 5px;
      letter-spacing: 3px;
      font-family: var(--text-font);
      cursor: pointer;
      font-size: clamp(16px, 4.72vw + 0.12rem, 20px);
    }
  
    .customerBtn:disabled {
      filter: brightness(50%);
      cursor: unset;
    }
  }

  @media (max-width:600px) and (hover:none) and (pointer:coarse){
    .customerTitle{
      font-size: clamp(18px, 5.72vw + 0.12rem, 20px);

    }

    .intro{
      font-size: clamp(14px, 4vw + 0.12rem, 16px);
      text-align: center;
      font-weight: 400;
      font-family: var(--text-font);
      color: var(--light-grey);
    }
  }