.resetPage {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-bg);
}

.resetCard {
  width: 500px;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.resetForm {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.title {
  font-family: var(--heading-font);
  font-size: 40px;
  color: var(--dark-grey);
  margin-bottom: 0;
}

.intro {
  color: var(--light-grey);
  font-family: var(--text-font);
  font-size: 16px;
}

.Form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputBox {
  width: 70%;
  display: flex;
  background-color: var(--white-pure);
  position: relative;
  align-items: center;
  box-sizing: border-box;
  margin: 10px 0;
}

.input {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  padding: 5px 10px;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  color: var(--light-grey);
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  color: var(--light-grey);
  cursor: pointer;

  transition: all 0.2s ease-in-out;
}

.icon:hover {
  color: var(--dark-grey);
}

.button {
  font-family: var(--text-font);
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--dark-grey);
  color: var(--white-pure);
  padding: 10px;
  box-sizing: border-box;
  width: 70%;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-top: 20px;
}

.button:hover {
  filter: brightness(130%);
}

.loadingText {
  margin: 0;
  font-family: var(--text-font);
  font-size: 18px;
  color: var(--white-pure);
  animation: loading 1s ease-in-out infinite;
}

.successIcon {
  color: var(--dark-grey);
  width: 60px;
  height: 60px;
  transform: scale(0);
  animation: boing 1s 0.5s ease-in-out 1 forwards;
}

@keyframes boing {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.errorParag {
  color: brown;
  animation: bounce 01s ease-in-out 1;
  font-family: var(--text-font);
  font-size: 16px;
  text-align: center;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1.05);
  }
}

@media (max-width: 767px) {
  .resetCard {
    width: 100%;
    height: 100vh;
    border-radius: 0;
    justify-content: center;
  }

  .title {
    font-size: clamp(40px, 13.58vw + 0.12rem, 60px);
    text-align: center;
  }

  .intro {
    font-size: clamp(16px, 4.72vw + 0.12rem, 18px);
    text-align: center;
  }

  .inputBox {
    width: 90%;
  }

  .input {
    width: 100%;
    height: clamp(40px, 13.58vw + 0.12rem, 60px);
    font-size: clamp(16px, 4.72vw + 0.12rem, 18px);
  }

  .button {
    font-size: clamp(18px, 5.72vw + 0.12rem, 22px);
    width: 90%;
  }
  .errorParag {
    font-size: clamp(16px, 4.72vw + 0.12rem, 18px);
  }
}
